#container
   .tic-tac-toe
      %h1.ttt__title Tic Tac Toe
      %button.ttt__btn#1
      %button.ttt__btn#2
      %button.ttt__btn#3
      %button.ttt__btn#4
      %button.ttt__btn#5
      %button.ttt__btn#6
      %button.ttt__btn#7
      %button.ttt__btn#8
      %button.ttt__btn#9
      %button.ttt__switch#switch Switch Turns
